---
interface Props {
  title: string;
  id: boolean;
  type: string;
  poster_path: string;
  release_date: boolean;
  vote_average: boolean;
  image?: string;
}
const {
	type,
	media
} = Astro.props;

---



<a href={`/${type}/${media.id}`} class="text-center">
	<img
	alt={media.title}
	src={`https://image.tmdb.org/t/p/w500${media.poster_path}`}
	class="w-full h-[220px] md:h-[250px] lg:h-[300px] object-center object-cover rounded-2xl border-2 cursor-pointer shadow-lg"
	/>
<h3 class="text-sm md:text-base text-slate-900 dark:text-slate-100 text-ellipsis mb-1 sm:mb-2 line-clamp-1 cursor-pointer">
	{media.title}
</h3>
<p class="text-xs md:text-sm text-slate-600 dark:text-zinc-400">
	{media.release_date}
</p>
<p class="text-xs md:text-sm text-slate-600 dark:text-zinc-400">
	<span role="img" arial-lable="start">
		⭐&nbsp;
	</span>
	{media.vote_average}
</p>
</a>