---
interface Props {
	title: string;
	description: string;
}

const {
	title,
	description,
	movie
} = Astro.props;

import Navbar from "../components/navbar/Navbar.jsx"
const currentUrl = Astro.request.url;
const ogImage = `https://image.tmdb.org/t/p/w500${movie}`; // Menggunakan gambar default jika movie.poster_path kosong
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href="/favicon.ico" />
<link
href="https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
rel="stylesheet"
/>

<meta name="generator" content={Astro.generator} />
<title>{title ? `${title} | Cp_Sudrajat`: 'Cp_Sudrajat'}</title>
<meta name="description" content={description || "Deskripsi tidak tersedia"} />

<!-- Open Graph Meta Tags -->
<meta property="og:url" content={currentUrl} />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Cp_Sudrajat" />
<meta property="og:title" content={movie?.title || title} />
<meta property="og:description" content={movie?.overview || description} />
<meta property="og:image" content={ogImage} />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={movie?.title || title} />
<meta name="twitter:description" content={movie?.overview || description} />
<meta name="twitter:image" content={ogImage} />
</head>
<body>
<Navbar client:load
text1="All-Movie"
text2="Tv-Show"
onClick1={() => console.log("Clicked 1")}
onClick2={() => console.log("Clicked 2")}
changeBackground={() => console.log("Change Background")}
/>
<slot />
</body>
</html>